<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @enhancement.description %>
</p>

<%= link_to 'Edit', edit_enhancement_path(@enhancement) %> |
<%= link_to 'Back', enhancements_path %>
