<h1>Editing Ability Cards Enhancement</h1>

<%= render 'form', ability_cards_enhancement: @ability_cards_enhancement %>

<%= link_to 'Show', @ability_cards_enhancement %> |
<%= link_to 'Back', ability_cards_enhancements_path %>
