<%if params["notice"]%>
  <div class="callout success" data-closable>
    <button class="close-button" aria-label="Close alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <p><%= params["notice"] %></p>
  </div>
<%end%>
