.HomeHeaderBar {
  width: 100%;
  display: flex;
  background-color: #444;
  height: fit-content;
  padding-bottom: 10px;
}

.HomeHeaderBarItem + .HomeHeaderBarItem {
  border-left: 1px solid #555;
}

.HomeHeaderBarNew {
  margin-left: auto;
  order: 2;
}
