<h5>Available Cards</h5>
<%available_abilities = @character.ability_cards.where(available: true, status: "Available")%>
<%if available_abilities.count <1 %>
  <i>None.</i>
<%else%>
  <%= form_with(url: avoid_damage_active_character_round_path(@character_round) ,method: :put, local: true) do |form| %>
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
      <%available_abilities.each do |card|%>
        <div class="cell small-12 medium-2">
          <%=render "character_scenarios/play_round_partials/ability_radio", card: card,type: "discarded"%>
        </div>
      <%end%>
    </div>
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
      <div class="cell small-12">
        <%=form.submit "Lose to Avoid Damage", class:"button alert expanded"%>
      </div>
    </div>
  <%end%>
<%end%>
