<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_player.name %></h1>
<%end%>
<%= google_sign_in_button 'Sign in with my Google account', proceed_to: create_login_url %>

