<div class="grid-x grid-padding-y">
	<% if logged_in? %>
		<div class="cell">
			#Should probably never get here, redirects instead
		</div>	
	<%else%>
		<br />
		<div class="cell small-1 medium-8 float-center">
			<h2> Welcome to Gloomhaven Card Manager</h2>
			<%= google_sign_in_button 'Please sign in with Google!', proceed_to: create_login_url, class: "button float-center" %>
		<div>
	<%end%>
</div>
